* {
  box-sizing: border-box;
 }

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: sans-serif;
  background: url(/assets/images/blackboardCrop.jpg) no-repeat center center fixed; 
  background-size: cover;
  font-family: "benton-sans"
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  text-align: center;
}

.main-wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 90px;
}
