#videobackground .gradient {
    background: -moz-linear-gradient(45deg, rgba(15, 134, 213, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: -webkit-linear-gradient(45deg, rgba(15, 134, 213, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: linear-gradient(to 45deg, rgba(15, 134, 213, 0.6), rgba(85, 86, 175, 0.69) 100%);
}

#videobackground .view video {
  top: 0!important;
  left: 0!important;
  transform: none!important;
  height: 100vh;
}